doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Admin
    // BOOTSTRAP STYLES
    link(href='stylesheets/bootstrap.css', rel='stylesheet', type='text/css')
    // FONTAWESOME STYLES
    link(href='stylesheets/font-awesome.css', rel='stylesheet', type='text/css')
    // CUSTOM BASIC STYLES
    link(href='stylesheets/basic.css', rel='stylesheet', type='text/css')
    // CUSTOM MAIN STYLES
    link(href='stylesheets/custom.css', rel='stylesheet', type='text/css')
    // GOOGLE FONTS
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
  body
    block content
    #footer-sec
      | © 2014 YourCompany | Design By : 
      a(href='http://www.binarytheme.com/', target='_blank') BinaryTheme.com
    // /. FOOTER
    // SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME
    // JQUERY SCRIPTS
    script(src='javascripts/jquery-1.10.2.js')
    // BOOTSTRAP SCRIPTS
    script(src='javascripts/bootstrap.js')
    // METISMENU SCRIPTS
    script(src='javascripts/jquery.metisMenu.js')
    // CUSTOM SCRIPTS
    script(src='javascripts/custom.js')

